@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --primary-color-red: hsl(0, 78%, 62%);
  --primary-color-cyan: hsl(180, 62%, 55%);
  --primary-color-orange: hsl(34, 97%, 64%);
  --primary-color-blue: hsl(212, 86%, 64%);
  --neutral-color-veryDarkBlue: hsl(234, 12%, 34%);
  --neutral-color-grayishBlue: hsl(229, 6%, 66%);
  --neutral-color-veryLightGray: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--neutral-color-grayishBlue);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 1096px;
}

.container header {
  margin: 0 auto;
  width: 550px;
  text-align: center;
}

.container header h1 {
  font-weight: 200;
  line-height: 1.25;
  font-size: 33.2px;
  margin-bottom: 18px;
  color: var(--neutral-color-veryDarkBlue);
}

.container header h1 div {
  color: var(--neutral-color-veryDarkBlue);
  font-weight: 600;
  font-size: 34px;
}

.container section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 25px;
  margin-top: 50px;
}

.container section .box {
  padding: 21px;
  border-radius: 6px;
  box-shadow: 0px 8px 43px -30px var(--neutral-color-veryDarkBlue);
}

.container section .box h2 {
  color: var(--neutral-color-veryDarkBlue);
  font-weight: 600;
}

.container section .box img {
  display: block;
  margin-top: 30px;
  float: right;
}

.container section .group {
  display: grid;
  gap: 25px;
}

.container section .supervisor {
  border-top: 4px solid var(--primary-color-cyan);
}
.container section .team-builder {
  border-top: 4px solid var(--primary-color-red);
}
.container section .karma {
  border-top: 4px solid var(--primary-color-orange);
}
.container section .calculator {
  border-top: 4px solid var(--primary-color-blue);
}

@media only screen and (max-width: 425px) {
  .container {
    /* margin: 80px 0; */
    padding: 80px 0;
    max-width: 80%;
  }

  .container header {
    width: 100%;
  }

  .container header h1,
  .container header h1 div {
    font-size: 23px;
  }

  .container section {
    grid-template-columns: 1fr;
    margin-top: 50px;
  }

  .container section .box h2 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .container {
    /* margin: 80px 0; */
    padding: 60px 0;
    max-width: 90%;
  }

  .container header {
    width: 100%;
  }

  .container section {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 769px) {
  .container {
    padding: 0 30px;
  }
}
